.text-card {
    margin-bottom: 0px;
    color: white;
}

.card-title-btm {
    margin-bottom: 1rem;
}

.big-event {
    text-align: right;
    color: white;
}

.month {
    text-align: right;
    color: white;
}

.date {
    margin-left: 10px;
    margin-top: 1.5rem;
}

.card {
    margin-bottom: 0px;
    border: 0px;
    background-color: #262529;
}

.IMG-Top{
    max-height: 650px;
    width: 100%;
}

.event-button {
    margin-bottom: 1.5rem;
}

a:link {
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    text-decoration: none;
  }