.navbar {
    background-color: #2f2f30;
    padding: 0px;
}

.text-card {
    margin-bottom: 0px;
}

.date {
    margin-left: 10px;
    margin-top: 1.5rem;
}

body {
    background-color: #262529;
    overflow-x: hidden;
    margin-right: -10%;
}

.card {
    margin-bottom: 0px;
    border: 0px;
    background-color: #262529;
}

.IMG-Top{
    max-height: 650px;
    width: 100%;
}

